# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl.backup

# Local environment files
.env
.env.*

# Editor / OS files
.vscode/
.DS_Store

# Python virtual environment
.venv/

# Serverless
**/.serverless/
**/node_modules/
